
<div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div id="<%= dom_id employment %>">
      <p>
        <strong>employer:</strong>
        <%= employment.employer %>
      </p>

      <p>
        <strong>start_date:</strong>
        <%= employment.start_date %>
      </p>

      <p>
        <strong>end_date:</strong>
        <%= employment.end_date %>
      </p>

    </div>

</div>

