.p-6.max-w-sm.bg-white.rounded-lg.border.border-gray-200.shadow-md.dark:bg-gray-800.dark:border-gray-700
  |  <div id="
  = dom_id employment
  | "> 
  p
    strong
      | employer:
    = employment.employer
  p
    strong
      | start_date:
    = employment.start_date
  p
    strong
      | end_date:
    = employment.end_date
