<%= turbo_frame_tag :modal do %>

  <div data-controller="turbomodal" data-action="turbo:submit-end->turbomodal#submitEnd">
    <h1>New detail</h1>

    <%= render "form", detail: @detail %>

    <br>

    <div>
      <%= link_to "Back to details", details_path %>
    </div>
  </div>
<% end %>